<section id="about" style="padding-top: 2rem;">
    <h1>Hello There!</h1>
    <p style="font-size: 18px; width: 95%; text-align: justify; line-height: 32px; opacity: 80%;">
        Saya adalah seorang junior software engineer dengan pengalaman 
        lebih dari 2 tahun di ranah pengembangan website dan aplikasi 
        berbasis web (web application).
    </p>
</section>