<section id="skills" style="width: 95%;">
    <h2 style="border-bottom: 1px solid grey; padding-bottom: 0.75rem;"># My Capabilities</h2>
    <p style="font-size: 18px; width: 95%; text-align: justify; line-height: 32px; opacity: 80%;">
        Bahasa pemograman utama saya adalah C#, saya umumnya menggunakan C# serta framework
        dari ekosistem .NET seperti ASP.NET atau Blazor untuk pengembangan web application
        seperti CMS atau aplikasi internal yang memerlukan keamanan dan dukungan yang baik, 
        lalu saya menggunakan Astro.js untuk pengembangan website seperti landing page atau 
        company profile.
    </p>
</section>
