<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>My Portfolio</title>
	</head>
	<body>
		<div class="translate-container">
			<div id="google_translate_element"></div>
		</div>
		
		<slot />

		<script is:inline>
			function googleTranslateElementInit() {
				new google.translate.TranslateElement({
					pageLanguage: 'id',
				}, 'google_translate_element');
			}
		</script>
		<script is:inline src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
	</body>
</html>

<style is:global>

    iframe.skiptranslate, 
    .goog-te-banner-frame, 
    #goog-gt-tt, 
    .goog-te-balloon-frame {
        display: none !important;
        visibility: hidden !important;
    }

    html {
        top: 0px !important;
    }

    body {
        top: 0px !important;
        position: static !important;
    }

    .goog-te-gadget .goog-te-combo {
        background-color: #1a1a1a !important; 
        color: white !important;
        border: 1px solid #333 !important;
        padding: 5px;
        border-radius: 4px;
        outline: none;
        font-family: 'Inter', sans-serif;
    }

    .goog-te-gadget {
        color: transparent !important;
        font-size: 0 !important;
    }

    .goog-text-highlight {
        background: none !important;
        box-shadow: none !important;
    }
</style>

<style>
    html,
    body {
		position: relative;
        margin: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        color: white;
        padding: 1rem 1rem;
        font-family: 'inter';
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1.5rem;
    }
	
	.translate-container {
		position: absolute;
	}
</style>
